@import 'variables.css';
@import 'container.css';
@import 'row.css';

@import 'breadcrumbs.css';
@import 'header.css';

@import 'repositoryHead.css';
@import 'repositoryTable.css';


body {
    margin: 0;
    padding: 0;

    font-size: 14px;
    font-family: Arial;
    color: var(--color-text-primary);
}