.Breadcrumbs {
    font-size: 0;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-border);
}

.Breadcrumbs .Breadcrumbs-Item {
    display: inline-block;
    color: var(--color-text-secondary);
    cursor: pointer;
}

.Breadcrumbs .Breadcrumbs-Item::after {
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px;
    content: '/';
}

.Breadcrumbs .Breadcrumbs-Item:last-child::after {
    padding: 0;
    content: '';
}

.Breadcrumbs-Item.Breadcrumbs-Item_state_open {
    font-weight: bold;
    color: var(--color-text-primary);
}
