.FileEditor {
    border: 1px solid var(--color-border);
    border-radius: 4px;
}

.FileEditor .FileEditor-Head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
    background: var(--color-gray-1);
    padding: 0 16px;
    height: 40px;
}

.FileEditor .FileEditor-Content {
    padding: 6px 0;
}

.FileEditor .FileEditor-Content_type_md {
    padding: 25px 32px;
}

.FileRow {
    display: flex;
    flex-direction: row;
}

.FileRow .FileRow-Number {
    color: var(--color-gray-2);
    text-align: right;
    min-width: 40px;
}

.FileRow .FileRow-Content {
    margin-left: 32px;
}

.FileRow.FileRow_color_green {
    background-color: var(--color-green);
}

.FileRow.FileRow_color_red {
    background-color: var(--color-red);
}

