.Text {
    display: inline-block;
}

.Text.Text_size_xxs {
    font-size: var(--font-size-xxs);
    line-height: var(--line-height-xxs);
}

.Text.Text_size_xs {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
}

.Text.Text_size_s {
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
}

.Text.Text_size_m {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
}

.Text.Text_size_l {
    font-size: var(--font-size-l);
    line-height: var(--line-height-l);
}

.Text.Text_weight_l {
    font-weight: var(--font-weight-l);
}

.Text.Text_first-letter_accent:first-letter {
    color: var(--color-accent);
}
