<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/static/styles/base.css">
    </head>
    <body>
        <include src="components/header.html"></include>
        <div class="Container">
            <include src="components/breadcrumbs.html"></include>
            <include src="components/repositoryHead.html"></include>
            <include src="components/tabs.html"></include>
            <include src="components/repositoryTable.html"></include>
        </div>
    </body>
</html>