<div class="Table">
    <div class="Table-Head Row">
        <div class="Row-Item Row_border_top">
            <div class="Text Text_size_s Text_weight_l">Name</div>
        </div>
    </div>
    <div class="Row Row_border_top">
        <div class="Row-Item Row_border_top">
            <div class="IconPlus">
                <div class="IconPlus-Icon IconPlus-Icon__indent-r_s Icon Icon_name_branch"></div>
                <div class="Text Text_size_s Text_weight_l">users/a-aidyn00/my-feature-2</div>
            </div>
        </div>
    </div>
    <div class="Row Row_border_top">
        <div class="Row-Item Row_border_top">
            <div class="IconPlus">
                <div class="IconPlus-Icon IconPlus-Icon__indent-r_s Icon Icon_name_branch"></div>
                <div class="Text Text_size_s Text_weight_l">users/a-aidyn00/my-feature-3</div>
            </div>
        </div>
    </div>
    <div class="Row Row_border_top">
        <div class="Row-Item Row_border_top">
            <div class="IconPlus">
                <div class="IconPlus-Icon IconPlus-Icon__indent-r_s Icon Icon_name_branch"></div>
                <div class="Text Text_size_s Text_weight_l">users/a-aidyn00/my-feature-4</div>
            </div>
        </div>
    </div>
    <div class="Row Row_border_top">
        <div class="Row-Item Row_border_top">
            <div class="IconPlus">
                <div class="IconPlus-Icon IconPlus-Icon__indent-r_s Icon Icon_name_branch"></div>
                <div class="Text Text_size_s Text_weight_l">users/a-aidyn00/my-feature-5</div>
            </div>
        </div>
    </div>
</div>