<div class="FileEditor">
    <div class="FileEditor-Head">
        <div class="IconPlus IconPlus_vertical-align_center">
            <div class="Icon Icon_name_codefile IconPlus-Icon IconPlus-Icon_indent-r_m Text Text_size_s"></div>
            <div class="Text Text_size_s">filename.ext</div>
        </div>
        <button class="Button">
            <div class="Icon Icon_name_download"></div>
        </button>
    </div>

    <div class="FileEditor-Content Font Font_type_mono">
        <each loop="lineObject, index in commit">
            <if condition="lineObject.number_old === -1">
                <div class="FileRow FileRow_color_green">
                    <div class="FileRow-Number">
                        <div class="Text Text_size_xxs"></div>
                    </div>
                    <div class="FileRow-Number">
                        <div class="Text Text_size_xxs">{{lineObject.number_new}}</div>
                    </div>
                    <div class="FileRow-Content Text Text_size_xxs">{{lineObject.line}}</div>
                </div>
            </if>
            <elseif condition="lineObject.number_new === -1">
                <div class="FileRow FileRow_color_red">
                    <div class="FileRow-Number">
                        <div class="Text Text_size_xxs">{{lineObject.number_old}}</div>
                    </div>
                    <div class="FileRow-Number">
                        <div class="Text Text_size_xxs"></div>
                    </div>
                    <div class="FileRow-Content Text Text_size_xxs">{{lineObject.line}}</div>
                </div>
            </elseif>
            <else>
                <div class="FileRow">
                    <div class="FileRow-Number">
                        <div class="Text Text_size_xxs">{{lineObject.number_old}}</div>
                    </div>
                    <div class="FileRow-Number">
                        <div class="Text Text_size_xxs">{{lineObject.number_new}}</div>
                    </div>
                    <div class="FileRow-Content Text Text_size_xxs">{{lineObject.line}}</div>
                </div>
            </else>
        </each>
    </div>
</div>