<div class="Commit">
    <div class="Commit-Line">
        <div class="Text Text_size_s Text_weight_l">Support new distbuild protocol</div>
    </div>
    <div class="Commit-line">
        <div class="Text Text_size_xs">Не очень качественно написаны некоторые функции. Предлагаю исправить это недоразумение.</div>
    </div>
    <div class="Commit-line Text Text_size_xs">
        <a class="Link" href="/file">sfsf3d</a> by <span class="Text Text_first-letter_accent">woodcutter</span>, 4 s ago
    </div>
</div>