<div class="FileEditor">
    <div class="FileEditor-Head">
        <div class="Text Text_size_s">Head</div>
    </div>
    <div class="FileEditor-Content Font Font_type_mono">
        <each loop="line, index in file">
            <div class="FileRow">
                <div class="FileRow-Number">
                    <div class="Text Text_size_xs">{{index}}</div>
                </div>
                <div class="FileRow-Content">
                    <div class="Text Text_size_xs">{{line}}</div>
                </div>
            </div>
        </each>
        <div class="FileRow">
            <div class="FileRow-Number">
                <div class="Text Text_size_xs">1023</div>
            </div>
            <div class="FileRow-Content">
                <div class="Text Text_size_xs">sdfsfsf</div>
            </div>
        </div>
    </div>
</div>