<div class="FileDescription">
    <div class="FileDescription-Title">
        <div class="FileDescription-TitleElem Text Text_size_l Text_weight_l">
            arcadia
        </div>
        <include src="components/dropdown.html"></include>
    </div>
    <div class="FileDescription-Info">
        <div class="Text Text_size_s">
            Last commit
            <include src="components/link.html"></include>
            on 
            <include src="components/link.html"></include>
            by robot-srch-releaser
        </div>
    </div>
</div>