<div class="HistoryGraph">
    <div class="HistoryGraph-Title">
        <div class="Text Text_size_m">Today</div>
    </div>
    <div class="HistoryGraph-Content">
        <div class="HistoryGraph-Row Row">
            <div class="NodeIcon">
                <div class="Icon Icon_name_graph"></div>
            </div>
            <div class="Row-Item Row-Item_fraction_col-6">
                <include src="components/commit.html"></include>
            </div>
            <div class="Row-Item">
                <a class="Link" href="/file">sfsf3d</a>
            </div>
            <div class="Row-Item">
                <div class="Icon Icon_name_code"></div>
            </div>
        </div>
        <div class="HistoryGraph-Row Row">
            <div class="NodeIcon">
                <div class="Icon Icon_name_graph"></div>
            </div>
            <div class="Row-Item Row-Item_fraction_col-6">
                <include src="components/commit.html"></include>
            </div>
            <div class="Row-Item">
                <a class="Link" href="/file">sfsf3d</a>
            </div>
            <div class="Row-Item">
                <div class="Icon Icon_name_code"></div>
            </div>
        </div>
        <div class="HistoryGraph-Row Row">
            <div class="NodeIcon">
                <div class="Icon Icon_name_graph"></div>
            </div>
            <div class="Row-Item Row-Item_fraction_col-6">
                <include src="components/commit.html"></include>
            </div>
            <div class="Row-Item">
                <a class="Link" href="/file">sfsf3d</a>
            </div>
            <div class="Row-Item">
                <div class="Icon Icon_name_code"></div>
            </div>
        </div>
    </div>
    <div class="HistoryGraph-Title">
        <div class="Text Text_size_m">Yersterday</div>
    </div>
    <div class="HistoryGraph-Content">
        <div class="HistoryGraph-Row Row">
            <div class="NodeIcon">
                <div class="Icon Icon_name_graph"></div>
            </div>
            <div class="Row-Item Row-Item_fraction_col-6">
                <include src="components/commit.html"></include>
            </div>
            <div class="Row-Item">
                <a class="Link" href="/file">sfsf3d</a>
            </div>
            <div class="Row-Item">
                <div class="Icon Icon_name_code"></div>
            </div>
        </div>
        <div class="HistoryGraph-Row Row">
            <div class="NodeIcon">
                <div class="Icon Icon_name_graph"></div>
            </div>
            <div class="Row-Item Row-Item_fraction_col-6">
                <include src="components/commit.html"></include>
            </div>
            <div class="Row-Item">
                <a class="Link" href="/file">sfsf3d</a>
            </div>
            <div class="Row-Item">
                <div class="Icon Icon_name_code"></div>
            </div>
        </div>
        <div class="HistoryGraph-Row Row">
            <div class="NodeIcon">
                <div class="Icon Icon_name_graph"></div>
            </div>
            <div class="Row-Item Row-Item_fraction_col-6">
                <include src="components/commit.html"></include>
            </div>
            <div class="Row-Item">
                <a class="Link" href="/file">sfsf3d</a>
            </div>
            <div class="Row-Item">
                <div class="Icon Icon_name_code"></div>
            </div>
        </div>
    </div>
</div>