<div class="RepositoryTable">
    <div class="RepositoryTable-Head Row">
        <span class="Row-Item">Name</span>
        <span class="Row-Item">Last commit</span>
        <span class="Row-Item Row-Item_fraction_col-2">Commit message</span>
        <span class="Row-Item">Committer</span>
        <span class="Row-Item Row-Item_align_right">Updater</span>
    </div>
    <div class="Row">
        <span class="Row-Item">item2</span>
        <span class="Row-Item">Last commitdfgdgdfgg</span>
        <span class="Row-Item Row-Item_fraction_col-2">Commit message</span>
        <span class="Row-Item">Committer</span>
        <span class="Row-Item Row-Item_align_right">Updater 3</span>
    </div>
    <div class="Row">
        <span class="Row-Item">item3</span>
        <span class="Row-Item">Last commit</span>
        <span class="Row-Item Row-Item_fraction_col-2">Commit message</span>
        <span class="Row-Item">Committer</span>
        <span class="Row-Item Row-Item_align_right">Updater 22</span>
    </div>
</div>