<div class="RepositoryTable">
    <div class="RepositoryTable-Head Row Row_order_change">
        <div class="Row-Item Row_border_top">
            <div class="Text Text_size_s Text_weight_l">Name</div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s Text_weight_l">Last commit</div>
        </div>
        <div class="Row-Item Row-Item_fraction_col-2">
            <div class="Text Text_size_s Text_weight_l">Commit message</div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s Text_weight_l">Committer</div>
        </div>
        <div class="Row-Item Row-Item_align_right">
            <div class="Text Text_size_s Text_weight_l">Updater</div>
        </div>
    </div>
    <div class="Row Row_border_top Row_order_change">
        <div class="Row-Item">
            <div class="Icon-Plus">
                <div class="Icon Icon_name_folder IconPlus-Icon IconPlus-Icon_indent-r_s Text Text_size_s"></div>
                <div class="Text Text_size_s">item1</div>
            </div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s"><a class="Link" href="/file">dhjfmn</a></div>
        </div>
        <div class="Row-Item Row-Item_fraction_col-2">
            <div class="Text Text_size_s">Commit message</div>
            <div class="Row-ButtonMobule Icon Icon_name_arrow-right"></div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s Text_first-letter_accent">committer</div>
        </div>
        <div class="Row-Item Row-Item_align_right">
            <div class="Text Text_size_s">Updater 3</div>
        </div>
    </div>
    <div class="Row Row_border_top Row_order_change">
        <div class="Row-Item">
            <div class="Icon-Plus">
                <div class="Icon Icon_name_folder IconPlus-Icon IconPlus-Icon_indent-r_s Text Text_size_s"></div>
                <div class="Text Text_size_s">item2</div>
            </div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s"><a class="Link" href="/file">dhjfmn</a></div>
        </div>
        <div class="Row-Item Row-Item_fraction_col-2">
            <div class="Text Text_size_s">Commit message</div>
            <div class="Row-ButtonMobule Icon Icon_name_arrow-right"></div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s Text_first-letter_accent">committer</div>
        </div>
        <div class="Row-Item Row-Item_align_right">
            <div class="Text Text_size_s">Updater 3</div>
        </div>
    </div>
    <div class="Row Row_border_top Row_order_change">
        <div class="Row-Item">
            <div class="Icon-Plus">
                <div class="Icon Icon_name_file IconPlus-Icon IconPlus-Icon_indent-r_s Text Text_size_s"></div>
                <div class="Text Text_size_s">README.md</div>
            </div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s"><a class="Link" href="/file">dhjfmn</a></div>
        </div>
        <div class="Row-Item Row-Item_fraction_col-2">
            <div class="Text Text_size_s">Commit message</div>
            <div class="Row-ButtonMobule Icon Icon_name_arrow-right"></div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s Text_first-letter_accent">committer</div>
        </div>
        <div class="Row-Item Row-Item_align_right">
            <div class="Text Text_size_s">Updater 3</div>
        </div>
    </div>
    <div class="Row Row_border_top Row_order_change">
        <div class="Row-Item">
            <div class="Icon-Plus">
                <div class="Icon Icon_name_codefile IconPlus-Icon IconPlus-Icon_indent-r_s Text Text_size_s"></div>
                <div class="Text Text_size_s">ya.make</div>
            </div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s"><a class="Link" href="/file">dhjfmn</a></div>
        </div>
        <div class="Row-Item Row-Item_fraction_col-2">
            <div class="Text Text_size_s">Commit message</div>
            <div class="Row-ButtonMobule Icon Icon_name_arrow-right"></div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s Text_first-letter_accent">committer</div>
        </div>
        <div class="Row-Item Row-Item_align_right">
            <div class="Text Text_size_s">Updater 3</div>
        </div>
    </div>
</div>