<div class="RepositoryTable">
    <div class="RepositoryTable-Head Row">
        <div class="Row-Item">
            <div class="Text Text_size_s Text_weight_l">Name</div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s Text_weight_l">Last commit</div>
        </div>
        <div class="Row-Item Row-Item_fraction_col-2">
            <div class="Text Text_size_s Text_weight_l">Commit message</div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s Text_weight_l">Committer</div>
        </div>
        <div class="Row-Item Row-Item_align_right">
            <div class="Text Text_size_s Text_weight_l">Updater</div>
        </div>
    </div>
    <div class="Row">
        <div class="Row-Item">
            <div class="Icon-Plus">
                <div class="Icon Icon_name_folder IconPlus-Icon IconPlus-Icon_indent-r_s Text Text_size_s"></div>
                <div class="Text Text_size_s">item1</div>
            </div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s">Last commitdfgdgdfgg</div>
        </div>
        <div class="Row-Item Row-Item_fraction_col-2">
            <div class="Text Text_size_s">Commit message</div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s">Committer</div>
        </div>
        <div class="Row-Item Row-Item_align_right">
            <div class="Text Text_size_s">Updater 3</div>
        </div>
    </div>
    <div class="Row">
        <div class="Row-Item">
            <div class="Icon-Plus">
                <div class="Icon Icon_name_folder IconPlus-Icon IconPlus-Icon_indent-r_s Text Text_size_s"></div>
                <div class="Text Text_size_s">item2</div>
            </div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s">Last </div>
        </div>
        <div class="Row-Item Row-Item_fraction_col-2">
            <div class="Text Text_size_s">Commit message</div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s">Committer</div>
        </div>
        <div class="Row-Item Row-Item_align_right">
            <div class="Text Text_size_s">Updater 3</div>
        </div>
    </div>
    <div class="Row">
        <div class="Row-Item">
            <div class="Icon-Plus">
                <div class="Icon Icon_name_file IconPlus-Icon IconPlus-Icon_indent-r_s Text Text_size_s"></div>
                <div class="Text Text_size_s">README.md</div>
            </div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s">Last </div>
        </div>
        <div class="Row-Item Row-Item_fraction_col-2">
            <div class="Text Text_size_s">Commit message</div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s">Committer</div>
        </div>
        <div class="Row-Item Row-Item_align_right">
            <div class="Text Text_size_s">Updater 3</div>
        </div>
    </div>
    <div class="Row">
        <div class="Row-Item">
            <div class="Icon-Plus">
                <div class="Icon Icon_name_code IconPlus-Icon IconPlus-Icon_indent-r_s Text Text_size_s"></div>
                <div class="Text Text_size_s">ya.make</div>
            </div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s">Last </div>
        </div>
        <div class="Row-Item Row-Item_fraction_col-2">
            <div class="Text Text_size_s">Commit message</div>
        </div>
        <div class="Row-Item">
            <div class="Text Text_size_s">Committer</div>
        </div>
        <div class="Row-Item Row-Item_align_right">
            <div class="Text Text_size_s">Updater 3</div>
        </div>
    </div>
</div>